/.vs/slnx.sqlite
/.vs/SysCar/v15/.suo
/.vs/VSWorkspaceState.json
/SysCar/base/__pycache__/base.cpython-34.pyc
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.pyc
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/util/__history/uMessages.dfm.~59~
/util/__history/uMessages.pas.~128~
/util/__history/uMessages.pas.~129~
/util/__history/uMessages.pas.~130~
/util/__history/uMessages.pas.~131~
/util/__history/uMessages.pas.~132~
/util/__history/uMessages.pas.~133~
/util/__history/uMessages.pas.~134~
/util/__history/uMessages.pas.~135~
/util/__history/uUtil.pas.~123~
